
<% layout('./layouts/boilerplate.ejs') %>

<div class="container mt-4 mb-5 p-4 bg-light rounded shadow">
  <div class="text-center mb-4">
    <img src="<%= country.flag %>" alt="flag" class="country-flag-img mb-3">
    <h1 class="card-title"><%= country.name %></h1>
  </div>
  <div class="fs-5">
    <p><strong>Capital:</strong> <%= country.capital %></p>
    <p><strong>Region:</strong> <%= country.region %></p>
    <p><strong>GDP:</strong> <%= country.GDP.toLocaleString("en-IN") %> US Billion Dollars</p>
    <p><strong>Population:</strong> <%= country.population.toLocaleString("en-IN") %></p>
    <p><strong>Currency:</strong> <%= country.currency %></p>
    <p><strong>Data Author:</strong> <%= country.author ? country.author.username : "Unknown" %></p>
  </div>

  <div class="row mt-4">
    <% if(currentUser && currentUser._id.equals(country.author._id)){ %>
      <div class="col-md-4 mb-2">
        <form action="/countries/<%=country._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger w-100">Delete</button>
        </form>
      </div>
      <div class="col-md-4 mb-2">
        <a href="/countries/<%=country._id%>/edit" class="btn btn-primary w-100">Edit</a>
      </div>
    <% } %>
    <div class="col-md-4">
      <a href="/countries" class="btn btn-dark w-100">Back</a>
    </div>
  </div>
</div>
