<% layout('./layouts/boilerplate.ejs') %>

<div class="mt-3 search-country-div">
  <h3 class="card-title text-center mb-2">Search Organisation</h3>
  <form class="row g-2 mb-4" method="GET" action="/organisations/find">
    
    <div class="col-md-4">
      <input type="text" name="name" class="form-control" placeholder="Search Name" value="<%= query?.name || '' %>">
    </div>

    <div class="col-md-4">
      <input type="text" name="headquarters" class="form-control" placeholder="Search Headquarters" value="<%= query?.headquarters || '' %>">
    </div>

    <div class="col-md-4">
      <input type="text" name="keywords" class="form-control" placeholder="Search Keywords (in all fields)" value="<%= query?.keywords || '' %>">
    </div>

    <div class="col-md-6">
      <label class="form-label">Formed After:</label>
      <input type="date" name="formedAfter" class="form-control" value="<%= query?.formedAfter || '' %>">
    </div>

    <div class="col-md-6">
      <label class="form-label">Formed Before:</label>
      <input type="date" name="formedBefore" class="form-control" value="<%= query?.formedBefore || '' %>">
    </div>

    <div class="text-center mt-2">
      <button class="btn btn-primary">Search</button>
      <a href="/organisations" class="btn btn-dark">Clear</a>
    </div>

  </form>
</div>


<div class="row mt-3">
    <% for(let org of organisations){ %>
        <div class="col-12 col-md-3 mb-5 d-flex justify-content-center">
            <div class="card h-100 d-flex flex-column org-card" style="width: 22rem;">
                <a href="/organisations/<%=org._id%>" style="text-decoration: none; color: black;">
                    <div class="card-img-wrapper flex-grow-1 d-flex align-items-center justify-content-center">
                        <img src="<%= org.logo %>" class="img-fluid" alt="Organisation Logo">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center"><%= org.name %></h4>
                    </div>
                </a>
            </div>
        </div>
    <% } %>
</div>