<% layout('/layouts/boilerplate.ejs') %>

<div class="mt-3">
    <img src="/<%= org.logo %>" alt="organisation logo" class="org-logo-img">
    <h1 class="card-title mt-2"><%= org.name %></h2>
    <p class="card-text">
        Headquartes - <%= org.headquarters %>
        <br>
        Date of Formation - <%= org.formation_date.toLocaleDateString('en-GB',{day:'numeric', month:'long', year:'numeric'}) %>
        <br>
        Purpose - <%= org.purpose %>
        <br>
        Official Website - <a href="<%= org.website %>"><%= org.website %></a>
    </p>
</div>
<div class="mt-3">
    <a href="/organisations"><button class="btn btn-dark">back</button></a>
</div>
